<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582465137246-171nafhelc30k0kck2dk8m32d7ue9db9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582465137246-171nafhelc30k0kck2dk8m32d7ue9db9</string>
	<key>API_KEY</key>
	<string>AIzaSyDmG2fsgFnkPb2wW7_W5ikbG2GLY9XSftk</string>
	<key>GCM_SENDER_ID</key>
	<string>582465137246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacie</string>
	<key>PROJECT_ID</key>
	<string>pharmacie-f5b6d</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacie-f5b6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582465137246:ios:6c4446c66b02656d00a2cf</string>
</dict>
</plist>